@model IEnumerable<AttendeePaymentViewModel>
<table class="table">
    <thead>
        <tr>
            <th>Должен</th>
            <th>Кому должен</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var payment in Model)
    {
        <tr>
            <td>@payment.From</td>
            <td>@payment.To</td>
            <td>@Math.Round(payment.Amount, 2)</td>
        </tr>
    }
    </tbody>    
</table>

