@model EventViewModel
@{
    ViewData["Title"] = @ViewData.Model.Name;
}
<form asp-action="AddAttendee" asp-route-id=@ViewData.Model.Id class="text-center" method="post">
    <div class="mb-3">
        <label class="form-label" for="name">Имя</label>
        <input class="form-control" type="text" id="name" name="name" required>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary">Добавить участника</button>
    </div>
</form>

<h2>Затраты участников</h2>
<table class="table table-light">
    <thead>
        <tr>
            <th>Участник</th>
            <th>Потратил</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attendee in Model.Attendees)
        {
            <tr>
                <td>@attendee.Name</td>
                <td>@attendee.Expenses.Sum(x => x.Amount)</td>
                <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target=@("#addExpenseModal" + attendee.Id)>
                        Добавить траты
                    </button>
                </td>
                <div class="modal fade" id=@("addExpenseModal" + attendee.Id) tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addExpenseModalLabel">Добавить покупку/трату</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form asp-action="AddAttendeeExpense" asp-route-eventId=@ViewData.Model.Id asp-route-attendeeId=@attendee.Id class="text-center" method="post">
                            <div class="mb-3">
                                <label class="form-label" for="name">Наименование</label>
                                <input class="form-control" type="text" id="name" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="amount">Сумма</label>
                                <input class="form-control" type="number" id="amount" name="amount" required>
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-primary">Добавить</button>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </tr>
        }
    </tbody>
</table>


