@{
    ViewData["Title"] = "Новое мероприятие";
}
<form asp-action="AddExpense" class="text-center" method="post">
   <div class="mb-3">
       <label class="form-label" for="name">Имя</label>
       <input class="form-control" type="text" id="name" name="name" required>
   </div>
   <div>
       <button class="btn btn-outline-primary" type="submit">Создать мероприятие</button>
   </div>
</form>


